# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log

# Environment variables
.env

# Prisma
prisma/dev.db
prisma/.env
prisma/migrations/

# VSCode
.vscode/

# Logs
logs/
*.log
logs/**/*.log

# Docker
*.pid
*.seed
docker-compose.override.yml

# REST Client extension files
*.http
*.rest

# OS files
.DS_Store
Thumbs.db

# Coverage reports
coverage/

# Others
dist/
build/
